@charset "UTF-8";

:root{
    --cor1: #262624;
    --cor2: #8C8C8C;
    --cor3: #1BA698;
    --cor4: #04FDF6;
    --cor5: #BDF2ED;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font: 1em Arial, Helvetica, sans-serif;
    height: 100vh;
    background: var(--cor3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    width: 100vw;
    height: 10vh;
    background: var(--cor1);
    color: var(--cor2);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.297);
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{

    width: 600px;
    height: 80vh;
    border-radius:  0 0 10px 10px;
    background: var(--cor5);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.297);
}

footer{
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 5vh;
    background: var(--cor1);
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    color: var(--cor4);
}

a:hover{
    text-decoration: underline;
}